<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        
    </head>
    <body>
    
    <div>
        <a href = "{{url('connexionpage')}}">Connexion</a>
        <a href = "{{url('home')}}">Accueil</a>
        <a href = "{{url('appartements')}}">Appartements</a>
        <a href = "{{url('profile')}}">Profile</a>
    </div>

    <br>